/**************************
** ORDER HISTORY PAGE Styling
***************************/
.orders-table-wrapper {
  width: 80%;
  margin: 30px auto 100px;
  margin-bottom: 200px;
  overflow-x: auto;
}

.orders-table-wrapper thead {
  background-color: #eeeded;
}

.orders-table-wrapper btn {
  border: 1px solid #ddd;
}

/**************************
** ORDER PAGE Styling
***************************/
.item {
  border: 1px solid #f1f1f1;
  overflow: inherit;
  width: 90%;
  display: flex;
  margin: 0px auto 150px;
}

.item .item-images {
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
  height: 80vh;
}

.item .item-images h3 {
  margin: 10px auto;
  padding: 0px;
}

.item .item-images .image {
  flex: 1;
  margin: 10px;
  background: url('../images/salad.png') no-repeat;
  background-size: 100%;
  transition: background-size .2s ease-in;
}

.item .item-images .image:hover {
  background-size: 110%;
}

.item .item-details {
  float: right;
  min-height: 300px;
  width: 59%;
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
}