/**************************
** ORDER HISTORY PAGE
***************************/
.orders-table-wrapper {
  width: 80%;
  margin: 30px auto 100px;
  margin-bottom: 200px;
  overflow-x: auto;
}

.orders-table-wrapper thead {
  background-color: #eeeded;
}

.orders-table-wrapper btn {
  border: 1px solid #ddd;
}

/**************************
** ITEM DETAILS PAGE
***************************/
.item {
  border: 1px solid #f1f1f1;
  width: 90%;
  margin: 0px auto 150px;
}

.item .item-images {
  width: 40%;
  float: left;
  height: auto;
}

.item .item-images .image {
  margin: 10px;
}

.item .item-details {
  float: left;
  min-height: 300px;
  width: 59%;
  padding: 20px;
}