/**************************
** CONTENT Styling
***************************/

.content {
  margin: 1em 0px 0px -200px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  margin: auto;
}

.content.full-page {
  padding-top: 3em;
  width: 100%;
}

.content .food-items {
  width: 70%;
  float: left;
  padding: 0px 20px;
  box-sizing: border-box;
}

.content .food-items .items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.content.full-page .food-items {
  width: 100%;
}

.content .food-items .food-item {
  border: 1px solid #e0e0e0;
  margin: 5px 10px;
  box-sizing: border-box;
  height: 370px;
  position: relative;
}

.content .food-items .food-item:hover {
  border: 1px solid #96C5F7;
  cursor: default;
}

.content .food-items h4 {
  padding: 0px;
  margin: 4px;
}

.content .food-items p {
  padding: 0px;
  margin: 5px;
}

.content .food-items img {
  width: 100%;
  height: 186px;
}

.content .food-items .action {
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.content .food-items .action .btn {
  float: right;
  margin: 5px;
}

.content .food-items .action .price {
  color: green;
  margin: 10px;
}


.content .sidebar {
  width: 26%;
  float: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.content .sidebar .form .search-btn {
  float: right;
}

.content .sidebar .categories {
  margin-top: 50px;
}

.content .sidebar .categories ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.content .sidebar .categories ul li a {
  display: block;
  border-top: 1px dashed #f0f0f0;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  color: #868686;
}

.content .sidebar .categories ul li a:hover {
  background: #faf9f9;
  transition: all .2s;
}

.content .sidebar .categories ul li a i {
  color: #868686;
}

.content .sidebar .categories ul li:last-child a {
  border-bottom: 1px dashed #f0f0f0;
}


/**************************
** SIGN UP/SIGNIN PAGE Styling
***************************/
.signup-wrapper {
  border: 1px solid #cbcbd6;
  border-radius: 5px;
  width: 30%;
  margin: 30px auto;
}


/**************************
** FOOTER Styling
***************************/
footer {
  background: #26232f;
  color: white;
  Height: 220px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

footer .more-info {
  display: flex;
  flex-direction: row;
  flex: 4;
}

footer .footer-left {
  flex: 1;
  padding: 0px 10px;
}

footer .footer-left p {
  width: 60%;
  font-size: 1em;
  line-height: 26px;
}

footer .footer-right {
  flex: 1;
  padding: 5px 10px;
}

footer .footer-right i {
  font-size: 2em;
  margin-left: 10px;
  color: #8f8f8f;
}

footer .copyright-info {
  color: #b4b4b4;
  text-align: center;
}

/****************************************
** Media Queries for mobile responsiveness
*******************************************/
@media(max-width: 1014px) {
  header nav .logo {
    position: fixed;
    top: 0px;
    margin-top: 16px;
  }

  header nav ul {
    max-height: 0px;
    background: #93ACB5;
  }

  header nav.solid ul {
    background: #93ACB5;
  }

  .showing {
    max-height: 25em;
  }

  header nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  header nav .menu-icon {
    display: block;
  }

  header nav .auth-links {
    clear: both;
    text-align: center;
  }

  header nav ul li:hover {
    background: #93ACB5;
  }

  header nav .logo img {
    height: 45px;
    margin: -5px 0px 10px 10px;
  }

  .signup-wrapper {
    width: 60%;
  }

  .admin-menu {
    width: 50%;
  }

  .stats {
    width: 100%;
  }
}

@media(max-width: 868px) {
  .content .sidebar {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
  }

  .content .food-items {
    width: 100%;
  }

  /* footer */
  footer {
    height: 400px;
    flex-direction: column;
  }

  footer .more-info {
    flex-direction: column;
  }

  footer .footer-left p {
    width: 100%;
  }

  /* Dashboard */
  .stats .stats-wrapper {
    flex-direction: column;
  }

  .stats .stats-wrapper .stat {
    margin-top: 10px;
  }
}

@media (max-width: 458px) {
  .signup-wrapper {
    width: 80%;
  }

  .admin-menu {
    width: 80%;
  }

  .content .sidebar {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    margin: 20px auto 20px;
  }

  .content .food-items {
    padding: 5px;
  }

}